In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
path = "heart_2022_with_nans.csv"
data=pd.read_csv(path)

In [8]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,No,...,NaN,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,NaN,No,...,1.60,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,NaN,No,...,1.57,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.65,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,NaN,No,...,1.57,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      445132 non-null  object
 1   Sex                        445132 non-null  object
 2   GeneralHealth              443934 non-null  object
 3   PhysicalHealthDays         434205 non-null  float64
 4   MentalHealthDays           436065 non-null  float64
 5   LastCheckupTime            436824 non-null  object
 6   PhysicalActivities         444039 non-null  object
 7   SleepHours                 439679 non-null  float64
 8   RemovedTeeth               433772 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  440727 non-null  object
 11  HadStroke                  443575 non-null  object
 12  HadAsthma                  443359 non-null  object
 13  HadSkinCancer              441989 non-null  object
 14  HadCOPD                    442913 non-null  object
 15  HadDepressiveDisorder      442320 non-null  object
 16  HadKidneyDisease           443206 non-null  object
 17  HadArthritis               442499 non-null  object
 18  HadDiabetes                444045 non-null  object
 19  DeafOrHardOfHearing        424485 non-null  object
 20  BlindOrVisionDifficulty    423568 non-null  object
 21  DifficultyConcentrating    420892 non-null  object
 22  DifficultyWalking          421120 non-null  object
 23  DifficultyDressingBathing  421217 non-null  object
 24  DifficultyErrands          419476 non-null  object
 25  SmokerStatus               409670 non-null  object
 26  ECigaretteUsage            409472 non-null  object
 27  ChestScan                  389086 non-null  object
 28  RaceEthnicityCategory      431075 non-null  object
 29  AgeCategory                436053 non-null  object
 30  HeightInMeters             416480 non-null  float64
 31  WeightInKilograms          403054 non-null  float64
 32  BMI                        396326 non-null  float64
 33  AlcoholDrinkers            398558 non-null  object
 34  HIVTesting                 379005 non-null  object
 35  FluVaxLast12               398011 non-null  object
 36  PneumoVaxEver              368092 non-null  object
 37  TetanusLast10Tdap          362616 non-null  object
 38  HighRiskLastYear           394509 non-null  object
 39  CovidPos                   394368 non-null  object
dtypes: float64(6), object(34)
memory usage: 135.8+ MB

In [10]:
data.drop(['RemovedTeeth'],axis =1, inplace=True)

In [11]:
data.drop(['HadSkinCancer'],axis =1, inplace=True)

In [12]:
data.drop(['DeafOrHardOfHearing'],axis =1, inplace=True)

In [13]:
data.drop(['BlindOrVisionDifficulty'],axis =1, inplace=True)

In [14]:
data.drop(['DifficultyConcentrating'],axis =1, inplace=True)

In [15]:
data.drop(['DifficultyDressingBathing'],axis =1, inplace=True)

In [16]:
data.drop(['HeightInMeters'],axis =1, inplace=True)

In [17]:
data.drop(['HadCOPD'],axis =1, inplace=True)

In [18]:
data.drop(['HadAsthma'],axis =1, inplace=True)

In [19]:
data.drop(['HadKidneyDisease'],axis =1, inplace=True)

In [20]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,No,No,...,Age 80 or older,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,No,No,...,Age 80 or older,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,No,No,...,Age 55 to 59,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,No,No,...,NaN,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,No,No,...,Age 40 to 44,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  object
 2   GeneralHealth          443934 non-null  object
 3   PhysicalHealthDays     434205 non-null  float64
 4   MentalHealthDays       436065 non-null  float64
 5   LastCheckupTime        436824 non-null  object
 6   PhysicalActivities     444039 non-null  object
 7   SleepHours             439679 non-null  float64
 8   HadHeartAttack         442067 non-null  object
 9   HadAngina              440727 non-null  object
 10  HadStroke              443575 non-null  object
 11  HadDepressiveDisorder  442320 non-null  object
 12  HadArthritis           442499 non-null  object
 13  HadDiabetes            444045 non-null  object
 14  DifficultyWalking      421120 non-null  object
 15  DifficultyErrands      419476 non-null  object
 16  SmokerStatus           409670 non-null  object
 17  ECigaretteUsage        409472 non-null  object
 18  ChestScan              389086 non-null  object
 19  RaceEthnicityCategory  431075 non-null  object
 20  AgeCategory            436053 non-null  object
 21  WeightInKilograms      403054 non-null  float64
 22  BMI                    396326 non-null  float64
 23  AlcoholDrinkers        398558 non-null  object
 24  HIVTesting             379005 non-null  object
 25  FluVaxLast12           398011 non-null  object
 26  PneumoVaxEver          368092 non-null  object
 27  TetanusLast10Tdap      362616 non-null  object
 28  HighRiskLastYear       394509 non-null  object
 29  CovidPos               394368 non-null  object
dtypes: float64(5), object(25)
memory usage: 101.9+ MB

In [22]:
data.isna().sum()

State                        0
Sex                          0
GeneralHealth             1198
PhysicalHealthDays       10927
MentalHealthDays          9067
LastCheckupTime           8308
PhysicalActivities        1093
SleepHours                5453
HadHeartAttack            3065
HadAngina                 4405
HadStroke                 1557
HadDepressiveDisorder     2812
HadArthritis              2633
HadDiabetes               1087
DifficultyWalking        24012
DifficultyErrands        25656
SmokerStatus             35462
ECigaretteUsage          35660
ChestScan                56046
RaceEthnicityCategory    14057
AgeCategory               9079
WeightInKilograms        42078
BMI                      48806
AlcoholDrinkers          46574
HIVTesting               66127
FluVaxLast12             47121
PneumoVaxEver            77040
TetanusLast10Tdap        82516
HighRiskLastYear         50623
CovidPos                 50764
dtype: int64

In [23]:
data['PhysicalActivities'] = data['PhysicalActivities'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\1715346369.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['PhysicalActivities'] = data['PhysicalActivities'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [24]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,No,No,...,Age 80 or older,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,No,No,...,Age 80 or older,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,No,No,...,Age 55 to 59,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,No,No,...,NaN,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,No,No,...,Age 40 to 44,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [25]:
data['HadHeartAttack'] = data['HadHeartAttack'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\1740652218.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HadHeartAttack'] = data['HadHeartAttack'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [26]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,No,...,Age 80 or older,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,No,...,Age 80 or older,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,No,...,Age 55 to 59,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,No,...,NaN,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,No,...,Age 40 to 44,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [27]:
data['AlcoholDrinkers'] = data['AlcoholDrinkers'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\1510741982.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['AlcoholDrinkers'] = data['AlcoholDrinkers'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [28]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,No,...,Age 80 or older,NaN,NaN,0.0,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,No,...,Age 80 or older,68.04,26.57,0.0,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,No,...,Age 55 to 59,63.50,25.61,0.0,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,No,...,NaN,63.50,23.30,0.0,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,No,...,Age 40 to 44,53.98,21.77,1.0,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [29]:
data['HIVTesting'] = data['HIVTesting'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\741234820.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HIVTesting'] = data['HIVTesting'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [30]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,No,...,Age 80 or older,NaN,NaN,0.0,0.0,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,No,...,Age 80 or older,68.04,26.57,0.0,0.0,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,No,...,Age 55 to 59,63.50,25.61,0.0,0.0,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,No,...,NaN,63.50,23.30,0.0,0.0,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,No,...,Age 40 to 44,53.98,21.77,1.0,0.0,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [31]:
data['FluVaxLast12'] = data['FluVaxLast12'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\147868610.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['FluVaxLast12'] = data['FluVaxLast12'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [32]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,No,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,No,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,No,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,No,...,NaN,63.50,23.30,0.0,0.0,1.0,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,No,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [33]:
data['PneumoVaxEver'] = data['PneumoVaxEver'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\1024119701.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['PneumoVaxEver'] = data['PneumoVaxEver'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [34]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,No,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,No,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,No,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,No,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,No,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",No,No

In [35]:
data['HighRiskLastYear'] = data['HighRiskLastYear'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\2089131881.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HighRiskLastYear'] = data['HighRiskLastYear'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [36]:
data['CovidPos'] = data['CovidPos'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [37]:
data['HadAngina'] = data['HadAngina'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3929659617.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HadAngina'] = data['HadAngina'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [38]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [39]:
data['HadStroke'] = data['HadStroke'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3859315341.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HadStroke'] = data['HadStroke'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [40]:
data['HadDepressiveDisorder'] = data['HadDepressiveDisorder'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\2403785628.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HadDepressiveDisorder'] = data['HadDepressiveDisorder'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [41]:
data['HadArthritis'] = data['HadArthritis'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3359622431.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['HadArthritis'] = data['HadArthritis'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [42]:
data['HadDiabetes'] = data['HadDiabetes'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [43]:
data['DifficultyWalking'] = data['DifficultyWalking'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\2623912818.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['DifficultyWalking'] = data['DifficultyWalking'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [44]:
data['ChestScan'] = data['ChestScan'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3874703619.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['ChestScan'] = data['ChestScan'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [45]:
data['AlcoholDrinkers'] = data['AlcoholDrinkers'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [46]:
data.drop(['DifficultyErrands'],axis =1, inplace=True)

In [47]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [48]:
data.to_csv('exported_heart_data.csv', index=False)

In [49]:
# handling the values of somkers :
#'Never smoked': 0
#'Former smoker': 0.25
#'Current smoker - now smokes some days':0.75
#'Current smoker - now smokes every day':1
data['SmokerStatus'] = data['SmokerStatus'].replace({'Never smoked': 0, 'Former smoker': 0.25, 'Current smoker - now smokes some days':0.75, 'Current smoker - now smokes every day':1}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3830420670.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['SmokerStatus'] = data['SmokerStatus'].replace({'Never smoked': 0, 'Former smoker': 0.25, 'Current smoker - now smokes some days':0.75, 'Current smoker - now smokes every day':1}).infer_objects(copy=False)

In [50]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [51]:
data['SmokerStatus']

0         0.00
1         0.00
2         0.00
3         0.75
4         0.00
          ...
445127    0.00
445128    0.00
445129    1.00
445130    0.00
445131    0.25
Name: SmokerStatus, Length: 445132, dtype: float64

In [52]:
# handling the values of somkers:
#'Never used e-cigarettes in my entire life': 0
#'Not at all (right now)':0.25
#'Use them some days':0.75
#'Use them every day':1
data['ECigaretteUsage'] = data['ECigaretteUsage'].replace({'Never used e-cigarettes in my entire life': 0, 'Not at all (right now)':0.25,'Use them some days':0.75 ,'Use them every day':1}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\4133435871.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['ECigaretteUsage'] = data['ECigaretteUsage'].replace({'Never used e-cigarettes in my entire life': 0, 'Not at all (right now)':0.25,'Use them some days':0.75 ,'Use them every day':1}).infer_objects(copy=False)

In [53]:
# handling the values of somkers:
#'Never used e-cigarettes in my entire life': 0
#'Not at all (right now)':0.25
#'Use them some days':0.75
#'Use them every day':1
data['ECigaretteUsage'] = data['ECigaretteUsage'].replace({'Never used e-cigarettes in my entire life': 0, 'Not at all (right now)':0.25,'Use them some days':0.75 ,'Use them every day':1}).infer_objects(copy=False)

In [54]:
data['ECigaretteUsage']

0         0.25
1         0.00
2         0.00
3         0.00
4         0.00
          ...
445127    0.00
445128    0.00
445129    0.75
445130    0.00
445131    0.25
Name: ECigaretteUsage, Length: 445132, dtype: float64

In [55]:
data.to_csv('exported_heart_data.csv', index=False)

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  int64
 2   GeneralHealth          443934 non-null  float64
 3   PhysicalHealthDays     434205 non-null  float64
 4   MentalHealthDays       436065 non-null  float64
 5   LastCheckupTime        436824 non-null  object
 6   PhysicalActivities     444039 non-null  float64
 7   SleepHours             439679 non-null  float64
 8   HadHeartAttack         442067 non-null  float64
 9   HadAngina              440727 non-null  float64
 10  HadStroke              443575 non-null  float64
 11  HadDepressiveDisorder  442320 non-null  float64
 12  HadArthritis           442499 non-null  float64
 13  HadDiabetes            444045 non-null  object
 14  DifficultyWalking      421120 non-null  float64
 15  SmokerStatus           409670 non-null  float64
 16  ECigaretteUsage        409472 non-null  float64
 17  ChestScan              389086 non-null  float64
 18  RaceEthnicityCategory  431075 non-null  object
 19  AgeCategory            436053 non-null  object
 20  WeightInKilograms      403054 non-null  float64
 21  BMI                    396326 non-null  float64
 22  AlcoholDrinkers        398558 non-null  float64
 23  HIVTesting             379005 non-null  float64
 24  FluVaxLast12           398011 non-null  float64
 25  PneumoVaxEver          368092 non-null  float64
 26  TetanusLast10Tdap      362616 non-null  object
 27  HighRiskLastYear       394509 non-null  float64
 28  CovidPos               394368 non-null  object
dtypes: float64(21), int64(1), object(7)
memory usage: 98.5+ MB

In [107]:
data['AgeCategory'].unique()

array(['Age 80 or older', 'Age 55 to 59', nan, 'Age 40 to 44',
       'Age 75 to 79', 'Age 70 to 74', 'Age 65 to 69', 'Age 60 to 64',
       'Age 50 to 54', 'Age 45 to 49', 'Age 35 to 39', 'Age 25 to 29',
       'Age 30 to 34', 'Age 18 to 24'], dtype=object)

In [111]:
data['AgeCategory'].value_counts()

AgeCategory
Age 65 to 69       47099
Age 60 to 64       44511
Age 70 to 74       43472
Age 55 to 59       36821
Age 80 or older    36251
Age 50 to 54       33644
Age 75 to 79       32518
Age 40 to 44       29942
Age 45 to 49       28531
Age 35 to 39       28526
Age 18 to 24       26941
Age 30 to 34       25807
Age 25 to 29       21990
Name: count, dtype: int64

In [163]:
data['AgeCategory'] = data['AgeCategory'].replace({
'Age 30 to 34': 0,
'Age 18 to 24': 1.0,
'Age 25 to 29': 1.5,
'Age 35 to 39': 2.5,
'Age 40 to 44': 3.5,
'Age 45 to 49': 4.5,
'Age 50 to 54': 5.0,
'Age 55 to 59': 6.0,
'Age 60 to 64': 7.0,
'Age 65 to 69': 7.5,
'Age 70 to 74': 8.5,
'Age 75 to 79': 9.0,
'Age 80 or older': 10
}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3334414184.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['AgeCategory'] = data['AgeCategory'].replace({

In [165]:
data['AgeCategory'] = data['AgeCategory'].replace({
'Age 30 to 34': 0,
'Age 18 to 24': 1.0,
'Age 25 to 29': 1.5,
'Age 35 to 39': 2.5,
'Age 40 to 44': 3.5,
'Age 45 to 49': 4.5,
'Age 50 to 54': 5.0,
'Age 55 to 59': 6.0,
'Age 60 to 64': 7.0,
'Age 65 to 69': 7.5,
'Age 70 to 74': 8.5,
'Age 75 to 79': 9.0,
'Age 80 or older': 10
}).infer_objects(copy=False)

In [113]:
data[data['AgeCategory']=='Age 80 or older']

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,Female,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
5,Alabama,Male,Poor,1.0,0.0,Within past year (anytime less than 12 months ...,0.0,7.0,1.0,0.0,...,Age 80 or older,84.82,26.08,0.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
6,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,Age 80 or older,62.60,22.96,1.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
7,Alabama,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,73.48,27.81,0.0,0.0,1.0,1.0,"Yes, received tetanus shot but not sure what type",0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445066,Virgin Islands,Male,Very good,NaN,0.0,Within past year (anytime less than 12 months ...,1.0,20.0,0.0,0.0,...,Age 80 or older,86.18,26.50,0.0,0.0,1.0,1.0,"Yes, received tetanus shot but not sure what type",0.0,0
445068,Virgin Islands,Male,Fair,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,6.0,0.0,0.0,...,Age 80 or older,49.90,18.88,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
445085,Virgin Islands,Female,Fair,2.0,1.0,Within past year (anytime less than 12 months ...,1.0,6.0,0.0,NaN,...,Age 80 or older,58.97,22.31,1.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,1
445097,Virgin Islands,Male,Good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,6.0,0.0,0.0,...,Age 80 or older,65.77,24.13,0.0,0.0,0.0,1.0,"Yes, received tetanus shot, but not Tdap",0.0,1
445118,Virgin Islands,Female,Fair,0.0,10.0,Within past year (anytime less than 12 months ...,1.0,6.0,0.0,0.0,...,Age 80 or older,88.45,32.45,1.0,NaN,0.0,0.0,NaN,0.0,1

In [115]:
data['HadHeartAttack'][data['AgeCategory']=='Age 80 or older']

0         0.0
1         0.0
5         1.0
6         0.0
7         0.0
         ...
445066    0.0
445068    0.0
445085    0.0
445097    0.0
445118    0.0
Name: HadHeartAttack, Length: 36251, dtype: float64

In [117]:
data['HadHeartAttack'][data['AgeCategory']=='Age 80 or older'].value_counts()

HadHeartAttack
0.0    30714
1.0     5024
Name: count, dtype: int64

In [135]:
data['HadHeartAttack'][data['AgeCategory']=='Age 75 to 79'].value_counts()

HadHeartAttack
0.0    28453
1.0     3789
Name: count, dtype: int64

In [139]:
data['HadHeartAttack'][data['AgeCategory']=='Age 70 to 74'].value_counts()

HadHeartAttack
0.0    38983
1.0     4216
Name: count, dtype: int64

In [141]:
data['HadHeartAttack'][data['AgeCategory']=='Age 65 to 69'].value_counts()

HadHeartAttack
0.0    43108
1.0     3700
Name: count, dtype: int64

In [143]:
data['HadHeartAttack'][data['AgeCategory']=='Age 60 to 64'].value_counts()

HadHeartAttack
0.0    41318
1.0     2890
Name: count, dtype: int64

In [145]:
data['HadHeartAttack'][data['AgeCategory']=='Age 55 to 59'].value_counts()

HadHeartAttack
0.0    34668
1.0     1960
Name: count, dtype: int64

In [147]:
data['HadHeartAttack'][data['AgeCategory']=='Age 50 to 54'].value_counts()

HadHeartAttack
0.0    32211
1.0     1250
Name: count, dtype: int64

In [149]:
data['HadHeartAttack'][data['AgeCategory']=='Age 45 to 49'].value_counts()

HadHeartAttack
0.0    27677
1.0      728
Name: count, dtype: int64

In [151]:
data['HadHeartAttack'][data['AgeCategory']=='Age 40 to 44'].value_counts()

HadHeartAttack
0.0    29347
1.0      445
Name: count, dtype: int64

In [153]:
data['HadHeartAttack'][data['AgeCategory']=='Age 35 to 39'].value_counts()

HadHeartAttack
0.0    28067
1.0      318
Name: count, dtype: int64

In [155]:
data['HadHeartAttack'][data['AgeCategory']=='Age 30 to 34'].value_counts()

HadHeartAttack
0.0    25508
1.0      187
Name: count, dtype: int64

In [157]:
data['HadHeartAttack'][data['AgeCategory']=='Age 25 to 29'].value_counts()

HadHeartAttack
0.0    21782
1.0      119
Name: count, dtype: int64

In [161]:
data['HadHeartAttack'][data['AgeCategory']=='Age 18 to 24'].value_counts()

HadHeartAttack
0.0    26676
1.0      122
Name: count, dtype: int64

In [121]:
# handling the values of Sex:
#'Male': 1
#'Female': 0
data['Sex'] = data['Sex'].replace({'Male': 1, 'Female':0}).infer_objects(copy=False)

In [123]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,0,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,0,Excellent,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,0,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,0,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,0,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [125]:
data.to_csv('exported_heart_data.csv', index=False)

In [129]:
# handling the values of GeneralHealth:
#'Poor': 0
#'Fair': 0.25
#'Good': 0.5
#'Very good': 0.75
#'Excellent': 1
data['GeneralHealth'] = data['GeneralHealth'].replace({'Poor': 0, 'Fair': 0.25, 'Good': 0.5, 'Very good': 0.75, 'Excellent': 1}).infer_objects(copy=False)

In [131]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,0,0.75,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,Age 80 or older,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,0,1.00,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,Age 80 or older,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,0,0.75,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,Age 55 to 59,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,0,1.00,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,0,0.25,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,Age 40 to 44,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [133]:
data.to_csv('exported_heart_data.csv', index=False)

In [167]:
data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,...,AgeCategory,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,0,0.75,0.0,0.0,Within past year (anytime less than 12 months ...,0.0,8.0,0.0,0.0,...,10.0,NaN,NaN,0.0,0.0,1.0,0.0,"Yes, received tetanus shot but not sure what type",0.0,0
1,Alabama,0,1.00,0.0,0.0,NaN,0.0,6.0,0.0,0.0,...,10.0,68.04,26.57,0.0,0.0,0.0,0.0,"No, did not receive any tetanus shot in the pa...",0.0,0
2,Alabama,0,0.75,2.0,3.0,Within past year (anytime less than 12 months ...,1.0,5.0,0.0,0.0,...,6.0,63.50,25.61,0.0,0.0,0.0,0.0,NaN,0.0,1
3,Alabama,0,1.00,0.0,0.0,Within past year (anytime less than 12 months ...,1.0,7.0,0.0,0.0,...,NaN,63.50,23.30,0.0,0.0,1.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0
4,Alabama,0,0.25,2.0,0.0,Within past year (anytime less than 12 months ...,1.0,9.0,0.0,0.0,...,3.5,53.98,21.77,1.0,0.0,0.0,1.0,"No, did not receive any tetanus shot in the pa...",0.0,0

In [169]:
data.to_csv('exported_heart_data.csv', index=False)

In [171]:
data['LastCheckupTime'].unique()

array(['Within past year (anytime less than 12 months ago)', nan,
       'Within past 2 years (1 year but less than 2 years ago)',
       'Within past 5 years (2 years but less than 5 years ago)',
       '5 or more years ago'], dtype=object)

In [173]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  int64
 2   GeneralHealth          443934 non-null  float64
 3   PhysicalHealthDays     434205 non-null  float64
 4   MentalHealthDays       436065 non-null  float64
 5   LastCheckupTime        436824 non-null  object
 6   PhysicalActivities     444039 non-null  float64
 7   SleepHours             439679 non-null  float64
 8   HadHeartAttack         442067 non-null  float64
 9   HadAngina              440727 non-null  float64
 10  HadStroke              443575 non-null  float64
 11  HadDepressiveDisorder  442320 non-null  float64
 12  HadArthritis           442499 non-null  float64
 13  HadDiabetes            444045 non-null  object
 14  DifficultyWalking      421120 non-null  float64
 15  SmokerStatus           409670 non-null  float64
 16  ECigaretteUsage        409472 non-null  float64
 17  ChestScan              389086 non-null  float64
 18  RaceEthnicityCategory  431075 non-null  object
 19  AgeCategory            436053 non-null  float64
 20  WeightInKilograms      403054 non-null  float64
 21  BMI                    396326 non-null  float64
 22  AlcoholDrinkers        398558 non-null  float64
 23  HIVTesting             379005 non-null  float64
 24  FluVaxLast12           398011 non-null  float64
 25  PneumoVaxEver          368092 non-null  float64
 26  TetanusLast10Tdap      362616 non-null  object
 27  HighRiskLastYear       394509 non-null  float64
 28  CovidPos               394368 non-null  object
dtypes: float64(22), int64(1), object(6)
memory usage: 98.5+ MB

In [175]:
data['CovidPos'].unique()

array([0, 1, nan,
       'Tested positive using home test without a health professional'],
      dtype=object)

In [177]:

data['CovidPos'] = data['CovidPos'].replace({'Tested positive using home test without a health professional': 1}).infer_objects(copy=False)

C:\Users\taher\AppData\Local\Temp\ipykernel_16036\3289505076.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['CovidPos'] = data['CovidPos'].replace({'Tested positive using home test without a health professional': 1}).infer_objects(copy=False)

In [179]:

data['CovidPos'] = data['CovidPos'].replace({'Tested positive using home test without a health professional': 1}).infer_objects(copy=False)

In [181]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  int64
 2   GeneralHealth          443934 non-null  float64
 3   PhysicalHealthDays     434205 non-null  float64
 4   MentalHealthDays       436065 non-null  float64
 5   LastCheckupTime        436824 non-null  object
 6   PhysicalActivities     444039 non-null  float64
 7   SleepHours             439679 non-null  float64
 8   HadHeartAttack         442067 non-null  float64
 9   HadAngina              440727 non-null  float64
 10  HadStroke              443575 non-null  float64
 11  HadDepressiveDisorder  442320 non-null  float64
 12  HadArthritis           442499 non-null  float64
 13  HadDiabetes            444045 non-null  object
 14  DifficultyWalking      421120 non-null  float64
 15  SmokerStatus           409670 non-null  float64
 16  ECigaretteUsage        409472 non-null  float64
 17  ChestScan              389086 non-null  float64
 18  RaceEthnicityCategory  431075 non-null  object
 19  AgeCategory            436053 non-null  float64
 20  WeightInKilograms      403054 non-null  float64
 21  BMI                    396326 non-null  float64
 22  AlcoholDrinkers        398558 non-null  float64
 23  HIVTesting             379005 non-null  float64
 24  FluVaxLast12           398011 non-null  float64
 25  PneumoVaxEver          368092 non-null  float64
 26  TetanusLast10Tdap      362616 non-null  object
 27  HighRiskLastYear       394509 non-null  float64
 28  CovidPos               394368 non-null  float64
dtypes: float64(23), int64(1), object(5)
memory usage: 98.5+ MB

In [183]:
data.to_csv('exported_heart_data.csv', index=False)